.App {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
  align-items: center;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.drum-pad:hover {
  background-color: #4CAF50; /* Ganti dengan warna yang diinginkan saat dihover */
  color: white; /* Ganti dengan warna teks yang diinginkan saat dihover */
}

.key-status{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}